*{
  margin:0;
  padding:0;
}
body{
  p,a{
    font-family:'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif
  }
  h3{
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-size:1.4rem;
    font-weight:normal;
  }
  nav{
    position:relative;
    margin:2% 4% 0;
    z-index:0;
    #mainTitle{
      margin:16vh 0;
      >h1{
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "Sawarabi Mincho", serif;
        font-size: 200px;
        text-align: center;
      }
      >h2{
        margin-top:8vh;
        text-align: center;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "Sawarabi Mincho", serif;
        font-size: 50px;
      }
      >h3{
        margin-top:16vh;
        text-align: center;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "Sawarabi Mincho", serif;
        font-size:40px;
      }
    }
    #listOfPan{
      margin-top:2vh;
      display: inline-block;
      >a{
      }
      >p{
        display: inline;
      }
    }
  }
  #modalWindow{
    //background-color: white;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position:fixed;
    z-index: 100;
    width:80%;
    height:95%;
    top:0;bottom:0;left:0;right:0;
    margin: auto;
    border:solid 4px white;
    opacity: 0;
    -webkit-transition:opacity 0.3s;
    transition:opacity 0.3s;
    >figure{
      width:100%;
      height:100%;
      >img{
        width:100%;
        height:100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }

  }
  #blackWindow{
    position:fixed;
    visibility: hidden;
    z-index:99;
    width:100%;
    height:100%;
    top:0;
    background-color: black;
    button{
      width:40px;
      height: 40px;
      border-radius: 50%;
      opacity:0.4;
      cursor: pointer;
      &:hover{
        opacity:0.8;
      }
    }
    #cancelButton{
      margin:2.5% 5%;
    }
    #goToNextModalWindow{
      right:5%;
      background-color: white;
      position:absolute;
      top:0;bottom:0;
      margin:auto;
      -webkit-transform:scale(1.4);
              transform:scale(1.4);
    }
    #goToBeforeModalWindow{
      left:5%;
      background-color: white;
      position:absolute;
      top:0;bottom:0;
      margin:auto;
      -webkit-transform:scale(1.4);
              transform:scale(1.4);
    }
  }
  main{
    position: relative;
    z-index: 0;
    margin:8% 0;
    >ul{
      margin:0 4%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      >li{
        margin:calc((100% / 3 * 0.1 )/3);
        &:hover{
          cursor: pointer;
          figure{
            opacity:0.8;
          }
        }
        &:nth-child(3n+1){
          margin-left:0;
        }
        &:nth-child(3n+2){
          margin-right: 0;
        }
        &:nth-child(-n+3){
          margin-top:0;
        }
        list-style-type: none;
        width:calc(100% / 3 * 0.9);
        >section{
          height:calc(100vh / 2.5);
          >figure{
            width:100%;
            height:85%;
            >img{
              width:100%;
              height: 100%;
              -o-object-fit: cover;
              object-fit: cover;
            }
          }
          >h3{
            height:10%;
            margin-top:2%;
            text-align:center;
          }
        }
      }
    }
  }
  footer{
    margin-bottom: 4vh;
    >p{
      text-align: center;
    }
  }
}
